:root{
  --softorange:hsl(35, 77%, 62%);
  --softred:hsl(5, 85%, 63%);
  --offwhite:hsl(36, 100%, 99%);
  --grayishblue:hsl(233, 8%, 79%);
  --darkgrayishblue:hsl(236, 13%,42%);
  --verydarkblue:hsl(240, 100%, 5%);
}
.app{
  display: grid;
  place-content: center;
  min-height:100dvh;
  min-height:100vh;
  background-color: var(--offwhite);
}
.app_container{
  max-width: 1140px;

  display: grid;
  gap:2rem;
}
.hero{
  padding-top:69px;
}
.hero_content{
  padding:1rem;
}
.hero img{
  width:100%;
}
.hero h1 {
  width:70%;
  font-size: 2.5rem;
  line-height: 1em;
  color:var(--verydarkblue);
  text-transform: capitalize;
}
button:not(.navbtn){
  padding:1rem 2rem;
  cursor: pointer;
  border:none;
  font-weight: 700;
  color:var(--offwhite);
  text-transform: uppercase;
  background-color: var(--softred);
}
button:hover:not(.navbtn), button:focus:not(.navbtn){
  background-color: var(--verydarkblue);
}
.news{
  background-color: var(--verydarkblue);
  padding:2rem 1.5rem;
}
.news div {
  padding:2rem 0;
  border-bottom: 1px solid hsl(233, 8%, 79%);
}
.news div:last-child{
  border:none;
  padding-bottom: 0;
}
.news h2{
  font-size: 2rem;
  font-weight:800;
  color:var(--softorange);
  text-transform: capitalize;
}
.news span{
  cursor: pointer;
  font-weight: 700;
  color:var(--offwhite);
}
.news span:hover{
  color:var(--softorange);
}
.topthree{
  display: grid;
  gap:1rem;
  padding:1rem;
}
.topthree div:not(.topthree_card) {
      display: flex;
      align-items:center;
      justify-content: flex-start;
      gap: 1rem;
}
  
  .topthree img {
      height: 150px;
  }
  
    .topthree_card {
      display: grid;
      height:100%;
      max-width: 260px;
      line-height: 1.7rem;
    }
    .topthree_card span:first-child{
      font-size: 2rem;
      font-weight: 700;
      line-height: 3rem;
    }
  .topthree_card span:last-of-type {
    font-size: 1.2rem;
    font-weight: 800;
    color:var(--verydarkblue);
    }
    .topthree_card span:hover:last-of-type{
      cursor: pointer;
      color:var(--softred);
    }
@media (width > 900px) {
  .app_container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .hero {
      margin-top: 10px;
      grid-area: 1 / 1 / 3 / 3;
    }
   .hero_content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .hero_btn{
      margin-right:auto;
      grid-area: 2 / 2 /2 /2;

    }
    .hero_content h1{
      font-size: 3.1rem;
      line-height: 1em;
    }
    .news {
      margin-top:75px;
      /* row start col start row end col end */
      grid-area: 1 / 3 / 3 / 3;
    }
  .topthree{
      grid-area: 3 / 1 / 3 / 4;
      
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
.topthree_card{
  height:65%;
}
}