nav{
    padding:3rem 0 2rem;
    position: fixed;
    top:0;
}
.navbtn{
    padding:1rem;
    border:none;
    color:hsl(240, 100%, 5%);
    background-color: transparent;
}
ol{
    padding:0;
    margin:0;
    height:100dvh;
    width:100dvw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}
.none{
    height:10vh;
}
.color{
    background: rgb(65, 53, 70);
    background: linear-gradient(90deg, rgba(36, 24, 44, 0.373) 37%, rgba(255, 255, 255, 1) 37%);
}
li{
    list-style-type:none;
    cursor: pointer;
    text-transform:capitalize;
    color:hsl(236, 13%, 42%);
}
li:hover{
    color:hsl(5, 85%, 63%);
}
li:first-child{
    margin-right:auto;
    position: absolute;
    padding: 1rem .5rem;
    top:0;
    left:0;
}
li:nth-child(2){
    position: absolute;
    padding-top:1rem;
    top:0;
    right:0;
}
.hiddenli{
    display: none;
}
.visiableli{
    width:60%;
    padding:.7rem;
    display: flex;
    flex-direction: column;
    margin-left:auto;
}
@media (width > 800px) {
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:auto;
        left:0;
        right:0;
        background-color: #fff;
    }
    .hidden {
            display: none;
        }
        ol{
            /* width:1000px; */
            width: 1140px;
            height:45px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: row;
        }
        li:nth-child(1){
           margin-right:auto;
        }
        li{
            display:flex;
            align-items: center;
            justify-content: center;
            padding-right:2.8rem;
        }
        li:last-of-type{
            padding:0;
        }
        .hiddenli{
            display: inline-block;
        }
}
